<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./layout/head')  %>
    <title>Document</title>

</head>
<%- include ('./layout/nav')  %>

<body>
    


</body>
<%- include ('./layout/script')  %>

</html>